# EditorConfig 帮助开发者在不同编辑器和 IDE 之间保持一致的编码风格
# https://editorconfig.org

root = true

# 所有文件的默认设置
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# JavaScript 文件
[*.js]
indent_size = 2

# JSON 文件
[*.json]
indent_size = 2

# Markdown 文件
[*.md]
trim_trailing_whitespace = false
indent_size = 2

# YAML 文件
[*.{yml,yaml}]
indent_size = 2
